<app-ui-card
  title="Angular Docs"
  description="Learn about the latest updates to the Angular framework."
  linkText="View Angular Docs"
  (click)="viewAngular()"></app-ui-card>
<app-ui-card
  title="Electron Docs"
  description="Learn about the latest updates to the Electron framework."
  linkText="View Electron Docs"
  (click)="viewElectron()"></app-ui-card>
<app-ui-card
  title="Starter Kit"
  description="Learn more about angular-electron-starter or report an issue."
  linkText="View Repository"
  (click)="viewRepository()"></app-ui-card>
