:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background: -webkit-linear-gradient(305deg, #0D47A1, #42A5F5);
  background: linear-gradient(145deg, #0D47A1, #42A5F5);
}
